* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

.quiz-container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

h2 {
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #d4eaff;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.option.correct {
    background-color: #c8e6c9; /* Vert clair pour bonne réponse */
    border: 1px solid #388e3c;
}

.option.incorrect {
    background-color: #ffcdd2; /* Rouge clair pour mauvaise réponse */
    border: 1px solid #d32f2f;
}

#next-btn {
    display: none;
}

#next-btn, #validate-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn:hover, #validate-btn:hover {
    background-color: #4cae4c;
}

#validate-btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

#question-container {
    height:800px;
    position: relative;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#score-display {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}
